# --- Maven ---
target/
**/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# --- IDEs ---
.idea/
.vscode/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
.springBeans
bin/

# --- Logs & System ---
logs/
*.log
.DS_Store
Thumbs.db
